{% extends "BackendBundle:Reportes:base_grafica_pdf.html.twig" %}
{% block content %}
    <div class="col-md-12">
        <div>
            <img src="{{graficaBase64}}" width="100%" height="300">
        </div>
    </div>
    <div class="col-md-12">
        <table width="300"  style="padding:0 15px 0 15px;border-collapse: collapse" border>
            <thead>
                <tr>
                    <th>Residuo</th>
                    <th>Peso en Kg</th>
                </tr>
            </thead>
            <tbody>
                {% set sumaTotal = 0%}
                {% for tipo_residuo in datos %}
                    {% set sumaTotal = sumaTotal+tipo_residuo.peso%}
                    <tr>
                        <td>{{tipo_residuo.nombre}}</td>
                        <td><span class="peso">{{tipo_residuo.peso|number_format(3, ',', '.')}}</span></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td><span class="peso">{{sumaTotal|number_format(3, ',', '.')}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}