<section class="features-index-grun">
    <!--item feature 1-->
    <div class="glow animate fadeInUp one item-feature">
        <div class="container-img_item-feature">
            <img src="{{asset("bundles/frontend/images/feature_1.png") }}" alt="">
        </div>
        <div class="container-text_item-feature">
            <h3>SENCILLA</h3>
            <p>Herramienta intuitiva, la cual permite ingresar y controlar la información de generación de residuos.</p>
        </div>
    </div>
    <!--item feature 2-->
    <div class="glow animate fadeInUp three item-feature">
        <div class="container-img_item-feature">
            <img src="{{asset("bundles/frontend/images/feature_2.png") }}" alt="">
        </div>
        <div class="container-text_item-feature">
            <h3>ESTRATÉGICA</h3>
            <p>Muestra información sobre cantidad, lugar y momento en el que se puede optimizar la gestión integral de los residuos por medio de gráficos estadísticos.</p>
        </div>
    </div>
    <!--item feature 3-->
    <div class="glow animate fadeInUp two item-feature">
        <div class="container-img_item-feature">
            <img src="{{asset("bundles/frontend/images/feature_3.png") }}" alt="">
        </div>
        <div class="container-text_item-feature">
            <h3>FUNCIONAL</h3>
            <p>Alinea los objetivos de gestión de residuos institucionales, locales, nacionales y globales. <a data-toggle="modal" data-target="#modal-decretos">Ver más</a></p>
        </div>
    </div>
</section>