<footer class="contact-info">
    <p>
        <span>Contáctenos:</span> 57-4-270 13 96 celular: 57-312 818 34 96  |
        Carrera 45 A No 34 sur 57 <span>Envigado Antioquia-Colombia</span>  |
        <span>Mail:</span> informacion@kontrolgrun.com  |
        <span>Skype:</span> kontrolgrun  |
        <a href="http://www.kontrolgrun.com/">www.kontrolgrun.com</a>  |
        <span>Copyright© 2016.</span> Kontrolgrun Todos los Derechos Reservados.
    </p>
</footer>