{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    {% include "FrontendBundle:Default:navbar.html.twig" %}
        
    <main class="super-container-grun">
        <div class="container-event-login">
            <div class="event-login">
                {% block fos_user_content %}
                    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
                {% endblock fos_user_content %}
            </div>
        </div>
    </main>
{% endblock %}