<td>
    {% if object.evidenciaFotografica %}
        {% if object.evidenciaFotografica|slice(-4) in ['.png', '.jpg', '.gif', '.bmp', '.tiff', '.jpeg'] %}
            <a href="{{ object.evidenciaFotografica }}" target="_blank" class="imagen"> 
                Ver archivo
            </a>
        {% else %}
            <a href="{{ object.evidenciaFotografica }}" target="_blank" class="popup_documento">
                Ver archivo
            </a>
        {% endif %}
    {% endif %}
</td>